{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% set navigation_bar = [
    (url_for('main.index'), 'index', '主页')
] %}
{% set active_page = active_page|default('index') %}
{% block html_attribs %}
    lang="zh-CN"
{% endblock %}
{% block metas %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon"/>
{% endblock %}
{% block styles %}
    {{ super() }}
    <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/blog.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">首页</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" >
                {% for category in category_list %}
                <li><a href="{{ url_for('main.index') }}">{{ category.name }}</a></li>
                {% endfor %}
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('admin.listuser') }}">后台管理</a></li>
                {% endif %}
            </ul>
            <ul class="navbar navbar-nav navbar-brand navbar-right" style="list-style-type:none" >
                {%  if current_user.is_authenticated %}
                    <li><a href="{{url_for("auth.logout")}}">退出</a></li>
                {% else %}
                    <li><a href="{{url_for("auth.login")}}">登录</a></li>
                {% endif %}
            </ul>
         </div>
    </div>
</div>
{% endblock %}

<div  id="wapper">
{% block content %}

        {% block body_content %}
        {% endblock %}

    <div id="footer">
    {% block footer %}
    <footer class="blog-footer">
      <hr/>
        <p>© XetLab| <a href="http://www.miitbeian.gov.cn/">京ICP备15025423号-1</a>
            | Powered by <a href="https://github.com/huangyemin/pyblog">pyblog</a></p>
    </footer>
    {% endblock %}
    </div>
    {%block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
    {% endblock %}
{% endblock %}
</div>