{%  extends "admin.html" %}
{% block page_content %}
<div class="col-md-6">
        <a href="{{ url_for('admin.adduser')}}"><h3>添加用户</h3></a>
        <table class="table table-bordered">
            <tr>
              <th>用户ID</th>
              <th>用户名</th>
              <th>操作</th>
            {% for user in user_list %}
                <tr>
                    <td>{{ user.id}}</td>
                    <td>{{ user.name}}</td>
                    <td><a href="{{ url_for('admin.edituser',user_id=user.name)}}">修改密码&nbsp</a>
                        <a href="{{ url_for('admin.deluser',user_id=user.id) }}">&nbsp删除</a></td>
                </tr>
            {% endfor %}
         </table>
</div>
{% endblock %}