{%  extends "admin.html" %}
{% block page_content %}
<div class="col-md-6">
        <a href="{{ url_for('admin.addcategory')}}"><h3>添加栏目</h3></a>
        <table class="table table-bordered">
            <tr>
              <th>栏目ID</th>
              <th>栏目名</th>
              <th>操作</th>
            {% for category in category_list %}
                <tr>
                    <td>{{ category.id}}</td>
                    <td>{{ category.name}}</td>
                    <td><a href="{{ url_for('admin.editcategory',category_id=category.name)}}">编辑&nbsp</a>
                        <a href="{{ url_for('admin.delcategory',category_id=category.id) }}">&nbsp删除</a></td>
                </tr>
            {% endfor %}
         </table>
</div>
{% endblock %}